*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: lightgoldenrodyellow;
  margin: 0px;
  font-family: sans-serif;
}

.container {
  margin: 20px;
}

h1,
p {
  margin: 0 0 1em 0;
}

.head {
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid black;
    text-align: left;
    padding: 0 20px;
}

.head::after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.footer {
    width: 100%;
    border-top: 1px solid black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    font-size: small;
}

.links {
    display: block;
    float: right;
}

.flash {
    display: block;
}

.center {
    text-align: center;
}

.like {
    background-color: yellow;
}

.match {
    background-color: hotpink;
}

.error {
    background-color: yellow;
}

.info {
    background-color: lightblue;
}

/* no grid support? */

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0px 20px 0px;
  padding: 20px 0px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.panel {
  /* needed for the flex layout*/
  flex: 1 1 270px;
}

.panel > label {
    display: inline-block;
    padding-left: 1.4rem;
}

.panel > input[type="checkbox"] {
    position: absolute;
}

/* We need to set the margin used on flex items to 0 as we have gaps in grid.  */

@supports (display: grid) {
  .wrapper > * {
    margin: 0;
  }
}
