{% extends "layout.html" %}
{% block body %}
    <form method="post" action="{{ url_for('index') }}">
    <div class="wrapper">
        {% for user in users %}
        <div class="panel{% if user in liked_students %} liked{% endif %}">
            <input id="{{ user.id }}Box" type="checkbox" name="{{ user.id }}"{% if user in liked_students %} checked="checked"{% endif %}>
            <label for="{{ user.id }}Box">{{ user.name }}</label>
        </div>
        {% endfor %}
    </div>
    <input id="emailBox" type="checkbox" name="emails">
    <label for="emailBox">Receive emails?</label>
    <input type="submit" value="submit" />
    </form>
{% endblock %}

