<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Right-Hand Rule{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        {% endblock %}
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if self.links() | trim or messages %}
	<div class="head">
            <div class="links">
                {% block links %}
                {% endblock %}
            </div>
            {% if messages %}
                {% for category, message in messages %}
                <div class="flash"><span class={{ category }}>[{{ message }}]</span></div>
                {% endfor %}
            {% endif %}
        </div>
        {% endif %}
        {% endwith %}
        {% block body %}
        {% endblock %}
        {% if self.footer() | trim %}
        <div class="footer">
            {% block footer %}
            {% endblock %}
        </div>
        {% endif %}
    </body>
