{% extends "layout.html" %}
{% block body %}
<div class="container center">
    <h2>Right-Hand Rule</h2>
    <h3>Log In</h3>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <p><a href="{{ url_for('register') }}">[Register]</a> <a href="{{ url_for('forgot_password') }}">[Forgot Password]</a></p>
    <!--<p>All information submitted through this website is strictly confidential. Your answers will never be released, except in the case of a match. Then only your match will know that you like them. This site adheres to the Caltech Honor Code and will never be used to take advantage of another member of the Caltech community.</p>
    <p>-John Ambrose</p>-->
</div>
{% endblock %}
